/* Banner design */
.banner {
  height: 100vh;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
  font-size: 50px;
  font-weight: bold;
  }
  p {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: lighter;
  }
}

.banner-content {
  color: white;
}

.banner-flat {
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
}
